Issues on API-mod-transport-security

Errors:

> `[OAUth2 for Native Apps]](https://tools.ietf.org/html/rfc8252)`

This should probably change to SpecRef `[[[rfc8252]]]`.

> `Subresource Integrity [SRI](https://www.w3.org/TR/SRI/)`

Should change to `[[[SRI]]]`

> `[status code](https://tools.ietf.org/html/rfc7231#section-6)`

[RFC 7231 is obsoleted by RFC 9110](https://datatracker.ietf.org/doc/rfc7231/). Maybe link to `https://datatracker.ietf.org/doc/html/rfc9110#name-status-codes` instead, might be possible with some SpecRef `[[rfc9110/#name-status-codes]]`?

---

> Note: security controls for signing and encrypting of application level messages will be part of a separate extension, [Signing and Encryption](https://geonovum.github.io/KP-APIs/API-strategie-modules/encryption/).

So is `API-mod-transport-security` including `API-strategie-modules/encryption`? If so, which version? If not, better leave it out?

---

> One should secure all APIs assuming they can be accessed from any location on the internet. Information MUST be exchanged over TLS-based secured connections. No exceptions, so everywhere and always. This is [required by law](https://wetten.overheid.nl/BWBR0048156/2023-07-01). One SHOULD follow [the latest NCSC guidelines for TLS](https://english.ncsc.nl/publications/publications/2021/january/19/it-security-guidelines-for-transport-layer-security-2.1)

How is this a SHOULD, since the law is a MUST?

> Note that strict transport security is not only mandated by this module [but also by law](https://wetten.overheid.nl/BWBR0048156/2023-07-01).

Please note the [base criteria](https://www.forumstandaardisatie.nl/open-standaarden/toetsen-en-aanmelden#:~:text=niet%20al%20wettelijk%20verplicht%20zijn;) "not already legally required;" of the Netherlands Standardisation Forum for taking standards in procedure.

---
> | `Cache-Control: no-store`                         | Prevent sensitive information from being cached.                                                       |

This is not true, see [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#no-cache):
> Note that `no-cache` does not mean "don't cache".

Also see [RFC9111 § 5.2.2.4. `no-cache`](https://datatracker.ietf.org/doc/html/rfc9111#name-no-cache-2), and you might want to look into [§ 5.2.2.7. `private`](https://datatracker.ietf.org/doc/html/rfc9111#name-private).

Feedback is verwerkt in https://github.com/Logius-standaarden/API-Design-Rules/pull/162 en zal ik apart verwerken in een PR op de module zelf.

> So is API-mod-transport-security including API-strategie-modules/encryption? If so, which version? If not, better leave it out?

Aangezien het een extension is en het ADR module formaat gebruikt, klopt deze zin volgens mij zoals op dit moment geschreven. Daarom laat ik het zo staan.

> Please note the base criteria "not already legally required;"

Dit had ik al verwerkt in mijn PR, dus zal dat backporten naar de module

> This is not true, see MDN

Je linkt naar `no-cache` en dan klopt het commentaar, maar in de tekst staat juist `no-store`. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#no-store geeft aan dat hierdoor iets uit alle caches blijft.

Oops, `no-cache` / `no-store`, was wrong here, probably a bit too late ;)
I also should have mentioned the alternative for `[[rfc9110/#name-status-codes]]` or should be the official `https://www.rfc-editor.org/rfc/rfc` prefix should be preferred.

Thanks, heb de links geupdate. Ik zag dat je commits had achter gelaten op de commit ipv de PR en daar kreeg ik geen notificaties van.

Overigens, op basis van https://respec.org/docs/#examples-5 staat er

> [[SOMESPEC/foo.html#bar]]
(Not recommended, use only if you really need it!)

Dus volgens mij kunnen we dat beter volledige links laten.

I was wondering if this hack would work **at all**, maybe `/` is safer, unsure if it could be skipped and just an anchor could be used. I do not have a ReSpec REPL setup to test this.